<!-- Sobre -->
<section id="about" class="about max-width">
    <div class="about__left">
        <h2 class="secondary-title">Além do código: quem sou eu?</h2>
        <p>
            Que tal se conectar comigo nas redes sociais abaixo e saber mais sobre
            meu trabalho?
        </p>
        <ul>
            <li>
                <a href="#"><img src="instagram.svg" alt="Imagem Instagram"></a>
            </li>
            <li>
                <a href="#"><img src="linkedin.svg" alt="Imagem Linkedin"></a>
            </li>
            <li>
                <a href="#"><img src="facebook.svg" alt="Imagem Facebook"></a>
            </li>
        </ul>
    </div>
    <div class="about__right">
        <h3 class="tertiary-title paragraph mb-m">
            Desenvolvedor fullstack apaixonado por tecnologia e soluções criativas
        </h3>
        <p class="paragraph">
            Olá, eu sou Michel Lavanere Sampaio, um desenvolvedor fullstack apaixonado por
            tecnologia e soluções criativas. Venho aprendendo diversas tecnologias visando criar
            soluções robustas e escaláveis que atendam às necessidades dos clientes.
        </p>
        <p class="paragraph">
            Eu amo o desafio de encontrar soluções inovadoras e criativas para
            problemas complexos e estou sempre buscando aprender e crescer como
            profissional.
        </p>
    </div>
</section>