<!-- header -->
<header id="header" class="max-width">
    <div class="header__left">
        <h1>Olá! Sou Michel Sampaio Desenvolvedor Fullstack</h1>
        <p>
            Desenvolvedor web full-stack  em desenvolvimento. Sou apaixonado por criar
            soluções tecnológicas que resolvem problemas reais e que agregam valor
            aos usuários.
        </p>
        <a href="#about" class="btn btn-primary">Saiba Mais</a>
    </div>
    <div class="header__right">
        <div class="header__image">
            <img src="michel.png" alt="Michel Sampaio" class="michel">
            <img src="abstract.svg" alt="Imagem Background" class="background">
        </div>
    </div>
</header>
