<!-- Projetos -->
<section id="projects" class="projects max-width">
    <div class="projects__content">
        <h2 class="secondary-title">Projetos em Destaque</h2>
        <p>
            De ideias abstratas a projetos bem-sucedidos, aqui estão alguns dos
            meus trabalhos mais recentes
        </p>
    </div>
    <ul>
        <li>
          <div class="image">
            <img src="tartarugas-marinhas.png" alt="Imagem Página Casco Vivo" />
          </div>
          <div class="projects__info">
            <h3 class="tertiary-title">
              Projeto Casco Vivo
            </h3>
            <p>
              Projeto desenvolvido com HTML, CSS e JavaScript. 
              Que tem como intuito colocar em pauta a preservação
              das tartarugas marinhas.
            </p>
            <a href="https://projeto1-ls-casco-vivo.vercel.app/" target="_blank">Confira o Projeto &rarr;</a>
          </div>
        </li>
        <li class="projects__reversed-list">
          <div class="image">
            <img src="dark-light-mode.png" alt="Imagem Página Barbearia" />
          </div>
          <div class="projects__info">
            <h3 class="tertiary-title">
              Dark Light Mode
            </h3>
            <p>
              Landing Page Simples de divulgação de uma barbearia construido, 
              em ReactJS, para exibição em Light e Dark Mode.
            </p>
            <a href="https://dark-e-light-mode.vercel.app/" target="_blank">Confira o Projeto &rarr;</a>
          </div>
        </li>
        <li>
          <div class="image">
            <img src="pokedex.png" alt="Imagem Página Pokedex" />
          </div>
          <div class="projects__info">
            <h3 class="tertiary-title">
              Pokedex
            </h3>
            <p>
              Projeto que usa fetch api para buscar os pokemons na pokeapi.co.
              Ele faz novas requisões a api todo vez que é clicado no botão load
            </p>
            <a href="https://43c1c85d-7860-4be7-923e-8da125d915d3-00-2n1b7umxyfxr1.riker.replit.dev/">Confira o Projeto &rarr;</a>
          </div>
        </li>
      </ul>
</section>