<!-- Habilidades -->
<section id="skills" class="skills">
    <div class="skills__content max-width">
        <h2 class="tertiary-title">Minha caixinha de ferramentas</h2>
        <p class="description">
            Descubra as habilidades e ferramentas que domino e que me permitem
            criar soluções criativas e funcionais para meus clientes.
        </p>
        <ul>
            <li class="skills__item">
                <div class="image-container">
                    <img src="notebook.png" alt="Desenvolvimento Web">
                </div>
                <h3>Desenvolvimento Web</h3>
                <p>
                    Experiência em desenvolvimento fullstack com foco em tecnologias
                    modernas.
                </p>
            </li>
            <li class="skills__item">
                <div class="image-container">
                    <img src="colors.png" alt="Web Design" />
                </div>
                <h3>Web Design</h3>
                <p>
                    Habilidade em criar layouts modernos e responsivos, com foco na
                    experiência do usuário.
                </p>
            </li>
            <li class="skills__item">
                <div class="image-container">
                    <img src="phone.png" alt="UX/UI Design" />
                </div>
                <h3>UX/UI Design</h3>
                <p>
                    Conhecimentos em design de interface e experiência do usuário
                    visualmente atraentes e intuitivas.
                </p>
            </li>
            <li class="skills__item">
                <div class="image-container">
                    <img src="files.png" alt="Gerenciamentos de versões" />
                </div>
                <h3>Gerenciamentos de versões</h3>
                <p>
                    Experiência em ferramentas de gerenciamento de versão para
                    controle de projetos.
                </p>
            </li>
        </ul>
    </div>
</section>